@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Is there a config option in svelte-kit to disable this? */
#svelte-announcer {
  @apply hidden;
}

.after\:hash {
  @apply no-underline !important;
}

.after\:hash::after {
  content: "#";
}

.texture-black-felt {
  background-image: url("/textures/black-felt.png");
}

.texture-cartographer {
  background-image: url("/textures/cartographer.png");
}

.texture-concrete-wall-2 {
  background-image: url("/textures/concrete-wall-2.png");
}

.texture-foggy-birds {
  background-image: url("/textures/foggy-birds.png");
}

.texture-food {
  background-image: url("/textures/food.png");
}

.texture-purty-wood {
  background-image: url("/textures/purty-wood.png");
}

:global([hidden]) {
  display: none !important;
}

footer img.icon {
  display: inline-block;
  width: 45px;
  height: 45px;
}
